<div id="<%= dom_id grade %>">
  <p>
    <strong>Grade1:</strong>
    <%= grade.grade1 %>
  </p>

  <p>
    <strong>Grade2:</strong>
    <%= grade.grade2 %>
  </p>

  <p>
    <strong>Grade3:</strong>
    <%= grade.grade3 %>
  </p>

</div>
